<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 16.66%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>


    <title>Video Eğitimi</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Hoşgeldin Recep</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Kazandığın Miktar: ₺2.24 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/"> / <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Tamamladığın Eğitim Paketi Sayısı: 1 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<br>
<center><h2>Sürdürülebilirlik</h2></center>



<div class="row">
  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-01-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-02-SVG.svg')}}" width="180" height="200">
    </a>

  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-03-SVG-1.svg')}}" width="180" height="200">
    </a>

  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-04-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-05-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-06-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

</div>


<div class="row">
  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-07-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-08-SVG.svg')}}" width="180" height="200">
    </a>

  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-09-SVG.svg')}}" width="180" height="200">
    </a>

  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-10-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-11-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-12-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

</div>

<div class="row">
  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-13-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-14-SVG.svg')}}" width="180" height="200">
    </a>

  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-15-SVG.svg')}}" width="180" height="200">
    </a>

  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-16-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='SKA-17-SVG.svg')}}" width="180" height="200">
    </a>
  </div>

  <div class="column">
    <a href="/temp">
    <img id="myImage1" src="{{url_for('static', filename='kuresel_amaclar_00.svg')}}" width="180" height="200">
    </a>
  </div>

</div>

<center>
<h2>
<span id="myText"></span>
</h2>
</center>






</body>

</html>
